build:
  stages:
  - name: bake
    image: docker:20.10.7
    privileged: true
    mounts:
    - /var/run/docker.sock:/var/run/docker.sock
    commands:
    - docker build -t {{.ApplicationName}}:local .