type: library
language: go

build:
  stages:
  - name: lint
    image: golangci/golangci-lint:latest-alpine
    commands:
    - golangci-lint run
  - name: test
    image: golang:1.16-alpine
    env:
      CGO_ENABLED: 0
    commands:
    - go test -short ./...
  - name: build
    image: golang:1.16-alpine
    env:
      CGO_ENABLED: 0
    commands:
    - go build -a -installsuffix cgo -o {{.ApplicationName}} .